.modalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 1000;
  position: absolute;
  top: 122px;
  left: 50%;
  box-sizing: border-box;
  width: 692px;
  padding: 50px 84px;
  transform: translateX(-50%);
  background: #232323;
  box-shadow: 0 0 22px 1px rgba(0, 0, 0, 1);
}

.modalTitle {
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 40px;
  font-size: 40px;
  line-height: 42px;
}

.modalContainerItem {
  padding-bottom: 35px;
  font-size: 20px;
  line-height: 22px;
}

.modalContainerItem h3 {
  font-size: 37px;
  line-height: 39px;
  color: #e8e8e8;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
}

.modalClose,
.modalClose:visited,
.modalClose:hover {
  position: absolute;
  display: inline-block;
  top: 16px;
  right: 23px;
  font-size: 32px;
  line-height: 34px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}

.modalClose:hover {
  color: rgba(255, 255, 255, 0.7);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.modalFooter .modalFooterButton {
  margin-left: 20px;
}

.field {
  z-index: 1000;
}

.fieldLabelText {
  display: block;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f65261;
}

.fieldError {
  padding-top: 4px;
  font-size: 14px;
  color: #f65261;
}

.fieldError:first-letter {
   text-transform: capitalize;
}


.modalCongratulationsTitle {
  position: relative;
  margin-top: -50px;
  padding-top: 100px;
  padding-bottom: 32px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.modalCongratulationsTitle:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;

  content: '\2713';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 40px;
  background: #f65261;
  color: #fff;
}

.modalCongratulationsText {
  padding: 0 70px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
